@model Shopping.DTO.OrderDTO

@{
    ViewData["Title"] = "Add";
    SelectList items = new SelectList(ViewBag.gov, "Id", "Name");
}

<h1>Add</h1>

<h4>OrderDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div hidden class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductWeight" class="control-label"></label>
                <input asp-for="ProductWeight" class="form-control" />
                <span asp-validation-for="ProductWeight" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <label asp-for="clientphone1" class="control-label"></label>
                <input asp-for="clientphone1" class="form-control" />
                <span asp-validation-for="clientphone1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="clientphone2" class="control-label"></label>
                <input asp-for="clientphone2" class="form-control" />
                <span asp-validation-for="clientphone2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GovernmentId" class="control-label"></label>
                <Select asp-for="GovernmentId" onchange="displayCity(GovernmentId.value)" asp-items="items" class="form-control">
                    <option disabled> Select Country</option>
                </Select>
                <span asp-validation-for="GovernmentId" class="text-danger"></span>
            </div>
            <div id="city" style="display:none" class="form-group">
                <label asp-for="City" class="control-label"></label>
              <select name="City" class="form-control" id="SlelctCity">
        
                  

              </select>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adress" class="control-label"></label>
                <input asp-for="Adress" class="form-control" />
                <span asp-validation-for="Adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingType" class="control-label"></label>
                <input asp-for="ShippingType" class="form-control" />
                <span asp-validation-for="ShippingType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="paymentType" class="control-label"></label>
                <input asp-for="paymentType" class="form-control" />
                <span asp-validation-for="paymentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
     function  displayCity(GovernmentId){
            $("#city").css("display","block")
            $.ajax({
                type: "POST",
                   url: "/City/GetCity",
                    data: {id:GovernmentId},
                  
                   dataType: 'JSON',
                    success:function(responce){
                        console.log(responce)
               
                        var Cities=`
                        <option disabled >Select City</option>
                        `;
                        
                        for (i = 0; i < responce.length; i++) {
                          Cities +=`
                        <option  value="${responce[i].cityName}">${responce[i].cityName}</option>
                        `
                           } 
                                                  console.log(Cities)

                       document.getElementById("SlelctCity").innerHTML=Cities;
                    },
                     error: function (responce)
                         {
                        alert(responce);
                    }
});
        }
    </script>
}
